<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    ID
                </th>
                <th scope="col" class="px-6 py-3">
                    Proveedor
                </th>
                <th scope="col" class="px-6 py-3">
                    Status
                </th>
                <th scope="col" class="px-6 py-3">
                    Teléfono
                </th>
                <th scope="col" class="px-6 py-3">
                    Fecha Transacción
                </th>
                <th scope="col" class="px-6 py-3">
                    Valor
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200" *ngFor="let transaction of transactions">
                <td class="px-6 py-4">{{ transaction.id }}</td>
                <td class="px-6 py-4">{{ transaction.proveedor }}</td>
                <td class="px-6 py-4">{{ transaction.status }}</td>
                <td class="px-6 py-4">{{ transaction.telefono }}</td>
                <td class="px-6 py-4">{{ transaction.transactionDate | date: 'short' }}</td>
                <td class="px-6 py-4">{{ transaction.valor | currency }}</td>
            </tr>
        </tbody>
    </table>
</div>
